# Informe EDA - Dataset CREDITS

In [18]:
%run lib.ipynb

# Lectura del dataset de películas generado al finalizar el ETL de movies
df_credits = pd.read_csv("../datasets/credits_clean.csv")
df_credits.info()
df_credits.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

## Chequeo de nulos

In [19]:
#suma de valores nulos por columna
print(columnas_de_nulos(df_credits))

Series([], dtype: float64)

### No se encuentran valores nulos en el dataset

## Valores duplicados

### Buscaremos valores duplicados para filas completas

In [20]:
df_credits[df_credits.duplicated(keep=False)]

,cast,crew,id
676,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045
949,"[{'cast_id': 1, 'character': 'Catherine Barkle...","[{'credit_id': '56d73d3e9251414291002436', 'de...",22649
1465,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045
2564,"[{'cast_id': 3, 'character': 'Himself', 'credi...","[{'credit_id': '52fe48e09251416c9109b347', 'de...",84198
4114,"[{'cast_id': 1, 'character': 'Ash Ketchum', 'c...","[{'credit_id': '52fe43de9251416c750213ff', 'de...",10991
...,...,...,...
33755,"[{'cast_id': 4, 'character': 'Zak Gibbs', 'cre...","[{'credit_id': '54afed0cc3a3683fba00443d', 'de...",15028
40287,"[{'cast_id': 1001, 'character': 'Max.', 'credi...","[{'credit_id': '55140dfa92514103e9002d99', 'de...",97995
44831,"[{'cast_id': 1, 'character': 'Ash Ketchum', 'c...","[{'credit_id': '52fe43de9251416c750213ff', 'de...",10991
44836,"[{'cast_id': 1, 'character': 'Ash Ketchum (voi...","[{'credit_id': '52fe45049251416c75048e35', 'de...",12600
45275,"[{'cast_id': 2, 'character': 'Ebba', 'credit_i...","[{'credit_id': '534fd1a80e0a267eb6000e32', 'de...",265189

### Eliminaremos las duplicadas quedándonos con la primera ocurrencia

In [21]:
df_credits = df_credits.drop_duplicates(keep='first')
df_credits[df_credits.duplicated(keep=False)]

Empty DataFrame
Columns: [cast, crew, id]
Index: []

### Buscaremos valores duplicados sólo para la columna id

In [22]:
df_credits[df_credits.duplicated(keep=False, subset=['id'])].sort_values(by=['id'])

,cast,crew,id
5865,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760b5', 'de...",4912
33838,"[{'cast_id': 15, 'character': 'Chuck Barris', ...","[{'credit_id': '52fe43e2c3a36847f80760a9', 'de...",4912
9576,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '5468acec22136e68c9000d53', 'de...",69234
26638,"[{'cast_id': 1, 'character': 'Gerard Carriere'...","[{'credit_id': '52fe47bfc3a368484e0d77bf', 'de...",69234
16167,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df623', 'de...",99080
38882,"[{'cast_id': 1004, 'character': 'Luke Oarum', ...","[{'credit_id': '52fe4a269251416c750df61d', 'de...",99080
4356,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '52fe4ad6c3a36847f81e461b', 'de...",110428
23533,"[{'cast_id': 3, 'character': 'Camille Claudel'...","[{'credit_id': '577ed5389251416976004432', 'de...",110428
838,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '52fe4b9ac3a368484e190d25', 'de...",132641
30013,"[{'cast_id': 4, 'character': 'Mihoko Nakagawa'...","[{'credit_id': '56365ed9925141285701b06e', 'de...",132641
13220,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
35809,"[{'cast_id': 12, 'character': 'Narrator', 'cre...","[{'credit_id': '52fe4c229251416c910f10d5', 'de...",159849
33196,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5448c8efc3a3680fb4001582', 'de...",298721
40051,"[{'cast_id': 1, 'character': 'Jenjira', 'credi...","[{'credit_id': '5739ceeac3a3683c9d000c12', 'de...",298721

### Existen valores duplicados en la columna "id", los eliminaremos

In [23]:
df_credits = df_credits.drop_duplicates('id', keep='last')
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45432 non-null  object
 1   crew    45432 non-null  object
 2   id      45432 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

## Valores faltantes

### Realizaremos búsqueda de valores faltantes

In [24]:
df_credits.isna().sum()

cast    0
crew    0
id      0
dtype: int64

### No se detectan valores faltantes.

## Tipos de datos

### se analizarán los tipos de datos para las columnas relevantes.

In [25]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45432 non-null  object
 1   crew    45432 non-null  object
 2   id      45432 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

### Cambiamos las columnas cast y crew a string

In [26]:
df_credits['cast'] = df_credits['cast'].astype('string')
df_credits['crew'] = df_credits['crew'].astype('string')
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45432 non-null  string
 1   crew    45432 non-null  string
 2   id      45432 non-null  int64
dtypes: int64(1), string(2)
memory usage: 1.4 MB

### Resetearemos el índice del dataframe

In [27]:
df_credits.reset_index(drop=True, inplace=True)

## Análisis estadístico

### No se puede hacer este tipo de análisis a las columnas de este dataframe, esto por que no hay variables cuantitativas ni cualitativas, sólo información complementaria al dataframe de movies.

## Análisis de correlaciones

### No se puede hacer este tipo de3 análisis a las columnas de este dataframe, esto por que no hay variables cuantitativas ni cualitativas, sólo información complementaria al dataframe de movies.

## Re-generar archivos que serán utrilizados por el API

In [30]:
data_directores = extrae_directores(df_credits)
data_directores['name'] = data_directores['name'].astype('string')
data_directores.info()

data_actores = extrae_actores(df_credits)
data_actores['name'] = data_actores['name'].astype('string')
data_actores.info()

write_parquet(data_directores, '../datasets/directores_dataset.parquet')
write_parquet(data_actores, '../datasets/actores_dataset.parquet')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48999 entries, 0 to 48998
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      48999 non-null  int64
 1   name    48999 non-null  string
dtypes: int64(1), string(1)
memory usage: 765.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562044 entries, 0 to 562043
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      562044 non-null  int64
 1   name    562044 non-null  string
dtypes: int64(1), string(1)
memory usage: 8.6 MB